*.bundle
*.mp4
*.ogg
_*
.mpfam_checksum
.vscode
data
logs
savegames
analytics
mpfam_exports/
mpfam_exports.zip
mpfam_resample/
masseffect2.sublime-workspace
videos
mpf*.bundle
.env
modes/attract_carousel/images/pinstrat_player*.png

*.zip
dist
*.pyc
me2-wav
*.wav
